<nav id="'navbar" class="navbar sticky-top navbar-expand-lg"
    style="width:100%; display: flex; justify-content: center;">
    <style>
        .container-fluid {
            width: 1230px;
            padding: 0;
        }

        .profile-item {
            color: #555;
            cursor: pointer;
            display: block;
            padding: 6px 10px;
            border-radius: 1rem;
            transition: 0s;
            font-size: 15px;
        }

        .profile-item:hover {
            color: #cc0000;
            background-color: rgba(240, 0, 0, 0.1);
            width: 100%;
        }


        @media only screen and (max-width: 650px) {
            .container-fluid {
                padding: 0 10px;
                display: none !important;
            }

        }

        .disappear {
            display: none !important;
        }
    </style>
    <div class="container-fluid">
        <img width="50px"
            src="https://2.bp.blogspot.com/-2jtlhNddC7g/Wpy8735Y6vI/AAAAAAAAK0o/_8hrmXs0OQYnLZuRna4lVtxd_09qdzgGwCK4BGAYYCw/s640/output_lTomnU.gif"
            alt="">
        <a class="navbar-brand ml-3 mr-4" href="/" id="logo">DSE00</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="display: block; padding-top: 8px;"><i
                    class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if(!currentUser) {%>
                    <a class="hide-desktop" style="margin:0" href="/users/login"> 登入</a>
                    <% }else{ %>
                        <a class="hide-desktop" href="/users/user/<%=currentUser._id %>">
                            <%= currentUser.username.toUpperCase() %>
                        </a>
                        <% } %>
                            <a href="https://dse00.blogspot.com" target="_blank"><i
                                    class="fa-brands fa-blogger-b"></i><i class="fa-solid fa-l"></i><i
                                    class="fa-solid fa-o"></i><i class="fa-solid fa-g"></i></a>
                            <a href="/resources">資源區</a>
                            <a href="/cutoffs">2021 CutOff</a>
                            <a href="/jupas" style="text-shadow:0px 0px 3px rgb(255, 216, 117);"><i
                                    class="fa-solid fa-star"></i>
                                JUPAS CutOff</a>
                            <a href="http://dse00.blogspot.com/search/label/Tips" target="_blank">Tips</a>

            </div>
            <div id='profile-button' class="navbar-nav ml-auto d-flex flex-row-reverse">
                <div style="padding: inherit;">

                    <a href="http://shop.dse00.com" target="_blank"><i class="fa-solid fa-bag-shopping"></i>
                        SHOP</a>
                    <% if(currentUser) {%>
                        <a href="/users/dse00coin"><i class="fa-solid fa-coins"></i> <b>
                                <%=currentUser.coin %>
                            </b> </a>

                        <a href="#">
                            Lv. <%=currentUser.grade %>
                        </a>

                        <% }%>
                            <button id='profile-button' style="
                            border:0px solid white ; 
                            background-color:rgba(256, 200, 200, 0.2);
                            color: white; 
                            padding: 4px 12px;
                            border-radius: 3rem;" class="hide-mobile">
                                <% if(!currentUser) {%>
                                    <a style="margin:0" href="/users/login"> 登入</a>
                                    <% }else{ %>

                                        <%= currentUser.username.toUpperCase() %>
                                            <% } %>

                            </button>
                </div>
                <% if(currentUser) { %>
                    <div id="profile-menu" style="
                            border:1px solid white ; 
                            border-radius: 1rem;
                            position: absolute;
                            background-color: rgba(256, 256, 256, 0.95);
                            top:60px;
          
                            " class="disappear hide-mobile">

                        <a class="profile-item" href="/users/user/<%=currentUser._id  %> ">
                            個人檔案
                        </a>
                        <a class="profile-item" href="/users/logout">登出</a>
                        <% if ( currentUser.identity==='admin' ) { %>
                            <a class="profile-item" href="/admins"><i class="fa-solid fa-gear"></i> </a>
                            <% } %>
                    </div>
                    <% }%>


                        <!-- <% if (currentUser && currentUser.identity==='admin' ) { %>
                    <a href="/admins"><i class="fa-solid fa-gear"></i> Admin</a>
                    <% } %> -->

                        <!-- <% if(!currentUser) {%>
                            <a href="/users/login"><i class="fa-solid fa-gear"></i> 登入</a>
                            <a href="/users/register">注冊</a>
                            <% } else {%>
                                <a href="/users/dse00coin">
                                    <i class="fa-solid fa-coins"></i> <b>
                                        <%=currentUser.coin %>
                                    </b>
                                </a>
                                <a href="#">
                                    Lv. <%=currentUser.grade %>
                                </a>
                                <% if (currentUser.identity==='admin' ) { %>
                                    <a href="/users/user/<%=currentUser._id  %> "
                                        style="background-color:rgb(116, 184, 116); padding:3px 10px; border-radius: 5px;">
                                        <%= currentUser.username.toUpperCase() %>
                                    </a>
                                    <% }else{ %>
                                        <a href="/users/user/<%=currentUser._id  %> ">
                                            <%= currentUser.username.toUpperCase() %>
                                        </a>
                                        <% } %>
                                            <a href="/users/logout">登出</a>
                                            <% } %> -->
            </div>

        </div>
    </div>

</nav>
<style>
    .mobile-nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        cursor: pointer;
        justify-content: space-between;
        height: 100%;
        transition: 0.3s
    }

    .nav-chat-icon textarea {
        border: 2px solid white;
        background-color: transparent;
        width: 30px;
        height: 25px;
        border-radius: 50%;
        transition: 0.3s ease-in;

        border-bottom-left-radius: 4px;
        font-size: 1rem;
        color: white;
    }

    .nav-chat-icon textarea:focus {
        width: 80%;
        height: 45px;
        border-radius: 2rem;
        position: absolute;
        background-color: #fffcf8;
        transform: translateX(-60%);
        padding: 8px;
        color: #333;

    }

    .nav-chat-button {
        position: absolute;
        transform: translateY(70px);
        right: 10px;
        border: none;
        background-color: #cc0000;
        transition: 0.3s ease-in;
        width: 40px;
        height: 50px;
        opacity: 0;

    }


    .nav-chat-icon textarea:focus+button {
        transform: translateY(0px);
        position: absolute;
        right: 10px;
        opacity: 1;
    }

    @media only screen and (min-width: 650px) {
        #mobile-nav {
            display: none !important;
        }

    }
</style>
<div id="mobile-nav" style="
    width:100%; 
    height:70px;
    position:fixed;
    bottom: 0;
    background-color: #cc0000;
    opacity: 0.93;
    bottom:0px;
    left:0;
    z-index:99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:12px 20px;
    font-size: 12px;
    transition: 0.3s
">
    <a class="mobile-nav-item" href="https://dse00.blogspot.com/">
        <i class="fa-brands fa-blogger" style="font-size: 1.3rem; display: block;"></i>
        Blog
    </a>
    <a class="mobile-nav-item" href="/cutoffs">
        <i class="fa-solid fa-school" style="font-size: 1.3rem; display: block;"></i>
        CutOff
    </a>
    <div class="mobile-nav-item nav-chat-icon">
        <form action="/" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <textarea type="text" name="campground[title]" style="margin: 0"></textarea>
            <button class="nav-chat-button">
                <i class="fa-solid fa-paper-plane" style="color: white; font-size: 1.2rem;"></i>
            </button>
            <textarea type="text" style="height:0px; width:0 ;opacity: 0; position: absolute;top:-100px;" ;
                id="description" name="campground[description]">如題</textarea>
        </form>

        Chat
    </div>



    <a class="mobile-nav-item" href="/jupas">
        <i class="fa-solid fa-j" style="font-size: 1.3rem; display: block;"></i>
        JUPAS
    </a>

    <% if(!currentUser) {%>
        <a class="mobile-nav-item" href="/users/login">
            <i class="fa-solid fa-user" style="font-size: 1.3rem; display: block;"></i>
            登入
        </a>
        <% }else{ %>
            <a class="mobile-nav-item" href="/users/user/<%= currentUser._id %> ">
                <i class="fa-solid fa-user" style="font-size: 1.3rem; display: block;"></i>
                <%= currentUser.username.toUpperCase().substring(0,3) %>
            </a>
            <% } %>
</div>

<script>

    const profileMenu = document.querySelector('#profile-menu')
    const profileButton = document.querySelector('#profile-button')

    profileButton.addEventListener('click', () => {
        profileMenu.classList.toggle('disappear')
        event.stopPropagation();


    }, document.addEventListener('click', () => {
        profileMenu.classList.add('disappear')
    }))


    const mobileNav = document.querySelector('#mobile-nav')
    const desktopNav = document.querySelector('#navbar')

    if (window.innerHeight < 550) {
        mobileNav.classList.add('disappear')
        desktopNav.classList.add('disappear')
    }



</script>